.header {
  padding: 10px 25px;
}
.header-item {
  display: flex;
  justify-content: space-between;
}
.header-item-right {
  display: flex;
  align-items: center;
}
.header-notification {
  margin-right: 30px;
}
.header-account {
  display: flex;
  align-items: center;
}